.LogOnForm{
	margin-right: auto;
	margin-left: auto;
	margin-top: 40%;
	width: 30%;
}

.10PxTop{
	margin-top: 10px;
}

.logOnBackground{
	background-size: 100%;
    background-image: url("../img/Wolfpack.jpg");
}